/* Animations */
@keyframes running {
    0% {background-color: #8e912c;}
    50% {background-color: #c9cc3f; margin-top: 10px; margin-bottom: 10px;}
    100% {background-color: #8e912c;}
}

@keyframes shake {
    0%, 10% {transform:rotate(2deg)}
    10%, 20% {transform:rotate(0deg)}
    5%, 15% {transform:rotate(-2deg)}
}

@keyframes scroll {
    0%{background-position:0 50%}
    50%{background-position:100% 50%}
    100%{background-position:0 50%}
}

body {
	background-color: #273747;
	text-align: center;
	font-family: monospace;
	color: #e6e7e8;
}

.container {
	position: relative;
	display:flex;
    flex-wrap: wrap;
	vertical-align: middle;
    justify-content: center;
}

.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   height: 40px;
   width: 100%;
   background: #1A252F;
   line-height:  40px;
}

.hide {
    display:none !important;
}

.invisible {
    visibility: hidden;
}

.title {
    min-height: 40px;
}

.box {
    display: flex;
    flex: 1;
    flex-direction: column;
    min-width: 175px;
    max-width: 175px;
}

.default-link{
    /* all rules required to make the whole div clickable */
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left: 0;
    z-index: 1;
    /* this is a fix for IE7-9 */
    background-color:#ffffff;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity:0;
}

.pipeline {
    position: relative;
	color: #e6e7e8;
    padding: 5px 5px 25px 5px;
    margin: 5px;

    line-height: 15px;
	text-align: center;
	vertical-align: top;

	font-weight: bold;
    flex: 1;
}

ul.pipeline {
    list-style: none;
}

.build-step {
    color: #e6e7e8;
    padding: 5px;
    margin: 5px;

    text-align: center;
    vertical-align: middle;

    font-weight: bold;
}

.version {
    position: relative;
    background-color: #8e878a;
    border: 1px solid #787275;
    padding: 5px;

    margin: 5px;

    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    flex-grow: 0;
    min-height: 25px;
    max-height: 25px;
}

.newversion {
    background: linear-gradient(270deg, #8e878a, #aba23a);
    background-size: 400% 400%;
    animation: scroll 7s ease infinite;
}

.succeeded {
	background-color: #2ECC71;
}

.started {
	background-color: #c8cc3e;
    animation-name: running;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.aborted {
	background-color: #8F4B2D;
}

.errored {
	background-color: #E67E22 ;
}

.failed {
	background-color: #E74C3C ;
}

.paused {
	background-color: #8e8f8e;
}

.build-step.succeeded {
    background-color: #249e58;
}

.build-step.started {
    background-color: #8e912c;
}

.build-step.aborted {
    background-color: #713b24;
}

.build-step.errored {
    background-color: #c86d1e;
}

.build-step.failed {
    background-color: #b03a2e;
}

.build-step.paused {
    background-color: #656665;
}